.boxes{
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-around;
    gap: 0px 20px;
    /* align-items: center;
    align-content: center; */

}

.box{
    height: 75px;
    width: 150px;
    padding: 1px;
    border: 5px solid black;
    border-radius: 4px;
    background-color: rgb(216, 216, 216);
    color: black;
    font-size: 40px;
    display: inline-block;
}